@import 'fonts';
@import 'general';
@import 'buttons';

/* Personalizados */
.contenedor {
    width: 680px;
    height: 440px;
    background-color: rgba(255,255,255,1); 
    text-align: center;
    // display: flex;
    // flex-direction: column;    
}
.row {
    display: flex;
    flex-direction: row;
}
.col-sm-6 {
    width: 50%;
    height: 440px;
}
.color {
    background-color: orangered;
    height: 440px;
}